@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&display=swap');


body {
    margin: 0;
    padding: 0;

    background: linear-gradient(-90deg, red, purple, blue, yellow);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.calc {
    margin: 0 auto;
    margin-top: 5%;
    width: 600px;
    height: 700px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.calc__result {
    grid-column: 1/6;
    grid-row:1/2;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 60px;
    padding: 0 auto;
    background-color: white;
    opacity:0.7;
    transition: all 0.3s ease-in-out;
}

.calc__result:hover {
    background-color: black;
    color:white;
}

.calc__card {
    font-size: 30px;
    border: none;
    font-family: 'Montserrat Alternates', sans-serif;
    width: 99%;
    height: 99%;
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
}

.calc__card:hover {
    background-color: white;
    color:black;
}

.calc__operations {
    float: right;
    margin-right: 1%;
    margin-top: 5%;
}



.number0 {
    grid-column: 2/3;
    grid-row: 5/6;
}

.number1 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.number2 {
    grid-column: 2/3;
    grid-row: 4/5;
}

.number3 {
    grid-column: 3/4;
    grid-row: 4/5;
}

.number3 {
    grid-column: 3/4;
    grid-row: 4/5;
}

.number4 {
    grid-column:1/2;
    grid-row:3/4;
}

.number5 {
    grid-column:2/3;
    grid-row:3/4;
}

.number6 {
    grid-column:3/4;
    grid-row:3/4;
}

.number7 {
    grid-column:1/2;
    grid-row:2/3;
}

.number8 {
    grid-column:2/3;
    grid-row:2/3;
}

.number9 {
    grid-column:3/4;
    grid-row:2/3;
}

.comma {
    grid-column:1/2;
    grid-row:5/6;
}

.clearOne {
    grid-column:4/5;
    grid-row:2/3;
}

.clearEverything {
    grid-column:5/6;
    grid-row:2/3;
}

.submit {
    grid-column:3/4;
    grid-row:5/6;
}

.symbolPlus {
    grid-column:4/5;
    grid-row:3/4;
}

.symbolMinus {
    grid-column:5/6;
    grid-row:3/4;
}

.symbolMulti {
    grid-column:4/5;
    grid-row:4/5;
}

.symbolDivide {
    grid-column:5/6;
    grid-row:4/5;
}

.power {
    grid-column:4/5;
    grid-row:5/6;
}

.sqrt {
    grid-column:5/6;
    grid-row:5/6;
}


